@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* GLOBAL */
/*Defaults*/
* { box-sizing: border-box; padding: 0; margin: 0; outline: none; }
html,
body { min-width: 320px; overflow-x: hidden;  }
body { font-size: 16px; background-color: #ecf2ee; position: relative;}
img { max-width: 100%; height: auto !important; }
button { background: none; border: none; cursor: pointer; font-family: 'Montserrat', sans-serif; }
input,
select,
textarea { font-size: 16px; font-family: Fjalla One, sans-serif; }
.pointer { cursor: pointer; }
a { text-decoration: none; color:#001427; }
a:hover { color:#02A9EA}
/* fonts */

.fjalla{ font-family: 'Fjalla One', sans-serif;}
 .pt {font-family: 'PT Serif', serif; }
 .darkgrn { color: #27542D}
 .lightgrn { color: #399E5A}
 .blk { color: #001427}
 .blue { color: #02A9EA}
 .white { color: #F4FFF8}
 .upper { text-transform: uppercase;}

/* FLEX POSITIONING */
.flex { display: flex; }
.flex.start { justify-content: flex-start; }
.flex.end { justify-content: flex-end; }
.flex.center { justify-content: center; align-items: center; }
.flex.center-v { align-items: center; }
.flex.center-h { justify-content: center; }
.flex.between { justify-content: space-between; }
.flex.evenly { justify-content: space-evenly; }
.flex.stretch { align-items: stretch; }
.flex.wrap { flex-wrap: wrap; }
.flex.nowrap { flex-wrap: nowrap; }
.flex.grow > * { flex-grow: 1; }
.flex.row { flex-direction:row; }
.flex.column { flex-direction: column; }
.flex.gap-5 { gap: 5px; }
.flex.gap-10 { gap: 10px; }
.flex.gap-15 { gap: 15px; }
.flex.gap-20 { gap: 20px; }
.flex.basis-100 > *,
.flex > .basis-100 { flex-basis: 100%; }
.flex > .grow { flex-grow: 1; }
.flex > .shrink-0 { flex-shrink: 0; }


/* colors */
.dg_bg{ background-color: #27542D}
.bk_bg{ background-color: #001427}
.lg_bg{ background-color: #399E5A}
.wht_bg{ background-color: #F4FFF8}
.bl_bg{ background-color: #02A9EA}

/*Sections*/
.wrapper { background-color: #F4FFF8; }
.container {  margin: 0 150px; }
.card { margin:0 12px; padding: 20px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.161); border-radius: 5px; border: 1px solid #E2E6EA; margin-bottom:30px; background: #fff;}
.full-width { width:100%; }



/* local selectors */

header {margin-bottom: 20px;}
p { font-family: 'Fjalla One', sans-serif; }
header .wrapper{ background-color:#27542D; margin-bottom: 20px ;}
header .container > p{  color: #F4FFF8; padding: 5px; margin-left:auto; letter-spacing: .75px; font-size: 20px;}
header .social { margin-left: 100px;}
header .social i { margin: 0 10px;}
header ul {  gap: 80px; margin:0 10px;list-style: none;}
header img {border-radius: 50%; box-shadow: 10px 18px 25px #00142736, -10px -10px 18px #ffffff; min-width: 100px; min-height: 100px; max-width: 150px; max-height: 150px;}


.hero { min-height: 550px; background-image: url("images/TreadLight.jpg");  background-size: cover; background-position:  center; }


.information .nwa { letter-spacing: .6px; line-height: 38px; font-size: 28px; text-align: center; margin: 30px 45px 0px 45px;}
.information .nwa_two { font-size: 24px; text-align: center; }
.information p {  font-size: 16px;  margin:40px 50px; line-height: 25px;}
.information img { height: 300px; width:300px; }
.information .blue { padding-right: 200px; min-height: 333px; width:521px; background-image: url("images/IMG_1609.jpeg"); background-size:cover; background-color: #02A9EA;background-blend-mode: multiply; }
.information .blue_two { padding-left: 200px; min-height: 333px; width:521px; background-image: url("images/IMG_1604.jpeg"); background-size:cover; background-color: #02A9EA;background-blend-mode: multiply; background-position: left;}
.information  .twentyfive  { margin: 46px 54px; }




section.photos {display:flex; flex-direction: row; margin-top: 20px }
section .carousel {  position:relative; height: 600px; width:48%; margin:0 auto; overflow: hidden; }
section img {  width:733px; object-fit: contain;}
section .carousel_track { list-style: none; position: relative; height: 100%; transition: transform 500ms ease-in; }
section .carousel_img { position: relative; }
section .carousel_pic { position: absolute;  width:100%; }
section .notCurrent { opacity: 50%;}
section .carousel_indicator { border-radius: 50%; border: 1px solid #001427; width:9px; height:9px;  margin: 20px 5px 75px; }
section .carousel_indicator.current { background-color: #02A9EA; border: 0; width: 12px; height: 12px;}



.twentyfive .covered {  font-size: 2.5rem; text-align: center; padding: 60px; text-shadow: -1px 1px  #02A9EA;}
.twentyfive .years { font-size: 18px; border-radius: 6px; box-shadow: 18px 18px 18px #0014271d, -18px -18px 18px #f7f9f7; margin-bottom: 85px; padding: 50px;}



footer { min-height:180px; width:100%;}
footer.wrapper { background-color:#27542D;}
footer nav ul { max-width:600px; min-width: 600px; list-style:none; font-size: 18px; padding: 47px; font-weight: 100;}
footer nav a{ color:#4eb570; }
footer .copywrite { color:#4eb570; font-family: 'Courier New', Courier, monospace; min-width: 600px; font-size: 12px; padding: 20px;}